<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKhoHang_BaiTapThucHanh.My.MySettings.QuanLyKhoHangConnectionString"
            connectionString="Data Source=NGUYENPHUONG;Initial Catalog=QuanLyKhoHang;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyKhoHang_BaiTapThucHanh.My.MySettings.QuanLyKhoHangConnectionString1"
            connectionString="Data Source=DESKTOP-M4V955C\MSSQLSERVER04;Initial Catalog=QuanLyKhoHang;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>